In [30]:
import os, math, sys
import pandas as pd
import pandapower as pp
import numpy as np

from pandapower.file_io import from_json, to_json

main_dir = os.path.abspath(os.path.join(os.path.abspath(""), ".."))
data_dir = 'Modified_116_LV_CSV'

if main_dir not in sys.path:
    sys.path.insert(0, main_dir)

from create_basic_network import debug_result, hc_violation

In [31]:
net = from_json(os.path.join(main_dir, 'json_networks', 'no_load_network.json'))
net54 = from_json(os.path.join(main_dir, 'json_networks', '54_loads_network.json'))
net_far = from_json(os.path.join(main_dir, 'json_networks', 'farthest_load_network.json'))

print(hc_violation(net), hc_violation(net54), hc_violation(net_far))

False True True

In [32]:
debug_result(net)
net_far.res_bus_3ph.loc[:, ['vm_a_pu', 'vm_b_pu', 'vm_c_pu']].describe()

          vm_a_pu     vm_b_pu     vm_c_pu
count  117.000000  117.000000  117.000000
mean     1.050467    1.050467    1.050467
std      0.000044    0.000044    0.000044
min      1.050000    1.050000    1.050000
25%      1.050471    1.050471    1.050471
50%      1.050471    1.050471    1.050471
75%      1.050471    1.050471    1.050471
max      1.050471    1.050471    1.050471

In [40]:
not net54.res_bus_3ph.loc[:, ['vm_a_pu', 'vm_b_pu', 'vm_c_pu']].isnull().any().any()

False

In [33]:
debug_result(net54, init='auto')
net54.res_bus_3ph.head(20)

C:\Users\vitor\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandapower\pypower\newtonpf.py:337: MatrixRankWarning: Matrix is exactly singular
  dx = -1 * spsolve(J, F, permc_spec=permc_spec, use_umfpack=use_umfpack)
C:\Users\vitor\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandapower\pf\create_jacobian.py:28: RuntimeWarning: invalid value encountered in divide
  dVm_x, dVa_x = dSbus_dV_numba_sparse(Ybus.data, Ybus.indptr, Ybus.indices, V, V / abs(V), Ibus)
C:\Users\vitor\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandapower\pf\runpp_3ph.py:478: RuntimeWarning: invalid value encountered in divide
  i_abc_it_wye = (np.divide(s_abc_pu, v_abc_it)).conjugate()
C:\Users\vitor\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandapower\pf\runpp_3ph.py:479: RuntimeWarning: invalid value encountered in divide
  i_abc_it_delta = np.matmul(i_del_xfmn, (np.divide(s_abc_delta_pu, np.matmul
C:\Users\vitor\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandapower\results_bus.py:62: RuntimeWarning: invalid value encountered in divide
  net["res_bus_3ph"]["unbalance_percent"] = np.abs(V012_pu[2, :]/V012_pu[1, :])*100
C:\Users\vitor\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandapower\auxiliary.py:1256: RuntimeWarning: invalid value encountered in divide
  return np.conjugate(np.divide(S, V, out=np.zeros_like(S), where=V != 0))  # Return zero if div by zero
C:\Users\vitor\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandapower\auxiliary.py:1256: RuntimeWarning: invalid value encountered in divide
  return np.conjugate(np.divide(S, V, out=np.zeros_like(S), where=V != 0))  # Return zero if div by zero

,vm_a_pu,va_a_degree,vm_b_pu,va_b_degree,vm_c_pu,va_c_degree,p_a_mw,q_a_mvar,p_b_mw,q_b_mvar,p_c_mw,q_c_mvar,unbalance_percent
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.0,0.000000,0.0,0.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.0,0.000000,0.0,0.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.0,0.000000,0.0,0.0,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.0,0.000000,0.0,0.0,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.328684,0.0,0.000000,0.0,0.0,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.0,0.000000,0.0,0.0,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,1.0,0.328684,0.0,0.0,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.0,0.000000,0.0,0.0,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.0,0.000000,0.0,0.0,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.328684,0.0,0.000000,0.0,0.0,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.328684,0.0,0.000000,0.0,0.0,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.328684,0.0,0.000000,0.0,0.0,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,1.0,0.328684,0.0,0.0,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.0,0.000000,0.0,0.0,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.0,0.000000,0.0,0.0,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.0,0.000000,0.0,0.0,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.0,0.000000,0.0,0.0,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.0,0.000000,0.0,0.0,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.0,0.000000,0.0,0.0,NaN

In [34]:
debug_result(net_far)
net_far.res_bus_3ph.loc[:, ['vm_a_pu', 'vm_b_pu', 'vm_c_pu']].describe()

          vm_a_pu     vm_b_pu     vm_c_pu
count  117.000000  117.000000  117.000000
mean     1.014366    1.016486    1.123564
std      0.003369    0.003124    0.006858
min      1.012451    1.016092    1.050020
25%      1.013779    1.016165    1.124135
50%      1.014183    1.016186    1.124177
75%      1.014432    1.016221    1.124245
max      1.049993    1.049987    1.124478